In [ ]:
import libraries
1
from sqlalchemy import create_engine 
2
import pymysql 
3
import getpass #hidden password
4
password= getpass.getpass()
1
import pandas as pd 
2
import seaborn as sns 
3
import matplotlib.pyplot as plt
4
import numpy as np 
connection to sql
1
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
2
engine = create_engine(connection_string)
1
df= pd.read_sql_query('''select t.type, t.operation, t.amount as t_amount, t.balance, t.k_symbol, l.amount as l_amount, l.duration, l.payments, l.status from trans t
2
left join loan l
3
on t.account_id = l.account_id
4
where l.status in ('A', 'B')''', engine)
5
​
1
df.head()
type	operation	t_amount	balance	k_symbol	l_amount	duration	payments	status
0	PRIJEM	PREVOD Z UCTU	44749.0	45549.0		79608	24	3317.0	A
1	PRIJEM	VKLAD	1000.0	1000.0		52788	12	4399.0	A
2	PRIJEM	VKLAD	1100.0	1100.0		21924	36	609.0	A
3	PRIJEM	VKLAD	700.0	700.0		23052	12	1921.0	A
4	PRIJEM	VKLAD	900.0	900.0		41904	12	3492.0	A

In [ ]:
import libraries
1
from sqlalchemy import create_engine 
2
import pymysql 
3
import getpass #hidden password
4
password= getpass.getpass()
1
import pandas as pd 
2
import seaborn as sns 
3
import matplotlib.pyplot as plt
4
import numpy as np 
connection to sql
1
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
2
engine = create_engine(connection_string)
1
df= pd.read_sql_query('''select t.type, t.operation, t.amount as t_amount, t.balance, t.k_symbol, l.amount as l_amount, l.duration, l.payments, l.status from trans t
2
left join loan l
3
on t.account_id = l.account_id
4
where l.status in ('A', 'B')''', engine)
5
​
1
df.head()
type	operation	t_amount	balance	k_symbol	l_amount	duration	payments	status
0	PRIJEM	PREVOD Z UCTU	44749.0	45549.0		79608	24	3317.0	A
1	PRIJEM	VKLAD	1000.0	1000.0		52788	12	4399.0	A
2	PRIJEM	VKLAD	1100.0	1100.0		21924	36	609.0	A
3	PRIJEM	VKLAD	700.0	700.0		23052	12	1921.0	A
4	PRIJEM	VKLAD	900.0	900.0		41904	12	3492.0	A